:root {
    --rosa-claro: #FFB6C1;
  }
  
  /* Aplica a cor rosa claro em elementos específicos */
  header {
    background-color: var(--rosa-claro);
  }
  
  nav ul li a {
    color: var(--rosa-claro);
  }
  
  #banner {
    background-color: var(--rosa-claro);
  }
  
  #banner h1 {
    color: #FFF;
  }
  
  #servicos .button, #agendamento input[type="submit"] {
    background-color: var(--rosa-claro);
    border-color: var(--rosa-claro);
  }
  
  #servicos .button:hover, #agendamento input[type="submit"]:hover {
    background-color: #FFF;
    color: var(--rosa-claro);
  }
  
  #agendamento label, #agendamento input[type="submit"] {
    color: var(--rosa-claro);
  }
  
  #contato label, #contato input[type="submit"] {
    color: var(--rosa-claro);
  }